<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/socket.io/socket.io.js"></script>
    
    <!-- Import WebRTC adapter for compatibility with all the browsers  -->
    
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <script src="../ejs.js"></script>
    <title>Document</title>
</head>
<body>
    connected
    <a href="/room/create">Start Video Call</a>
</body>
</html>