<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>
    <title>Document</title>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      </script>  
    <!-- Import WebRTC adapter for compatibility with all the browsers  -->
    <script src="../js/room.js"></script>
    <!-- <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script> -->
    w
</head>
<body>
    <script>
        const roomId = "<%= roomId %>"
        
    </script>
    
    <h1 id="roomId"> <%= roomId %> </h1>
    <div style="background-color: red;width:100;height:100" id="video-container">
        comntainer
    </div>
</body>
</html>