video{
    width:30%;
    height: 300px;
 
}

.toast-container {
    position: absolute;
    background-color: red;
    width: 50%;
    height: 30;
    padding: 10;
    display: none;
}

.controls {
    position: fixed;
    bottom: 0px;
}