video{
    width:90%;
    height: 250px;
    left:0;
    right:0;
 
}

.toast-container {
    position: absolute;
    background-color: red;
    width: 50%;
    height: 30;
    padding: 10;
    display: none;
}

.controls {
    position: fixed;
    bottom: 0px;
}
.bg-red {
    background-color: red;
    width : 30%;
    float:left;
    margin:1px;
}